[Unit]
Description=Start Flask web interface 
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=/usr/local/bin/startFlask.sh
Restart=on-failure
User=canopylife
WorkingDirectory=/home/canopylife/bin
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
